
$cell-color-o: green;
$cell-color-x: red;
 
$cell-color-o-highlight: palegreen;
// https://upload.wikimedia.org/wikipedia/commons/f/fd/Color_icon_red.svg
$cell-color-x-highlight: #fe8484;

.page-wrapper {
    padding: 20px;
}

/* 
Placement of main blocks 
*/

$footer-height: 10vh;

.header {
    height: 20vh;
    width: 100%;
}
.footer {
    height: $footer-height;
    margin-top: 20px;
    width: 100%;
}

.body {
    width: 100%;
    margin-top: 20px;
    /*
    100%
    - 2*WrapperPadding
    - HeaderHeight
    - FooterHeight
    - FooterMargin
    - BodyMargin
    */
    height: calc(100vh - 40px - 20vh - #{$footer-height} - 20px - 20px);
}

/*
Layout of Body: Navbar, Playground, Console
*/

.body {
    flex-flow: row;
    display: flex;
    display: -webkit-flex;
}
.body .navbar {
    width: 60px;
    margin-right: 20px;
}
.body .console {
    width: 30em;
    margin-left: 20px;
}
.body .playground {
    flex: 1;
    -webkit-flex: 1;
}

.playground .board {
    height: 100%;
}
/*
Inner playground
*/
.board .board-table {
    /* Board will be resized via JavaScript */
    width: 100%; 
    height: 100%;
}

/*
Inner CCFI console
*/
.console .console-content {
    width: 100%;
    height: 100%;
}
.console .console-textarea {
    width: 100%;
    height: 100%;
}
.page-wrapper {
    background-color: yellow;
}

/*       
Styling Background
*/
body {
    background-color: linen;
}

/*
Styling navbar
*/
.navbar {
    background-color: blue;
}
.navbar span {
    color: yellow;
}
.navbar a {
    background-repeat: no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    background-size: contain;
    margin: 5px;
}
.navbar a span {
    display: none;
}
.navbar .link-new-game {
    stroke-width: 20;
    background-image: url('/buttons/newgame.svg');
}
.navbar .link-toggle-color {
    background-image: url('/buttons/togglecolor.svg');
}
.navbar .link-debug {
    background-image: url('/buttons/debug.svg');
}

/*
Styling playground 
*/
.body .playground {
    background-color: violet;
}

/*
Styling: Header
*/
.header {
    background-color: blue;
    background-image: url(/static/made-with-lisp-ellipse.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    position: relative;
}
.header h1 {
    margin: 0;
    margin-left: 5px;
    color: yellow;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

/*
Styling: Footer
*/
.footer {
    background-color: blue;
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.footer .human-players-token-indicator {
    display: block;
    padding-left: 6px;
    padding-right: 6px;
    //width: calc( #{$footer-height} - 10px);
    height: calc( #{$footer-height} - 10px);
    margin-left: 5px;
}

/*
.footer .human-players-token-indicator p {
    text-align: center;
}
*/

.footer .human-players-token-indicator[data-human-players-token="x"] {
    background-color: $cell-color-x;
}
.footer .human-players-token-indicator[data-human-players-token="o"] {
    background-color: $cell-color-o;
}

.footer .final-state-click-to-continue {
    padding-left: 6px;
    padding-right: 6px;
    height: calc( #{$footer-height} - 10px);
    margin-left: 5px;
    background-color: white;
}
.footer .final-state-click-to-continue[data-value="OFF"] {
    display: none;
}
.footer .final-state-click-to-continue[data-value="HUMAN_HAS_WON"] {
    display: block;
}
.footer .final-state-click-to-continue[data-value="COMPUTER_HAS_WON"] {
    display: block;
}
.footer .final-state-click-to-continue[data-value="DRAW"] {
    display: block;
}



/*
Styling: Console
*/
.console-textarea {
    background-color: black;
    color: lime;
}
.body .console {
    background-color: yellow;
}

/*
Styling: Board
*/
.board-table {
    border: 1px solid black;
    border-collapse: collapse;
}
.board-table th,
.board-table td {
    border: 1px solid black;
    border-collapse: collapse;
}

.board-cell-marker[data-value="ON"] {
    background-color: black;
    display: block;
}
.board-cell-marker[data-value="OFF"] {
    background-color: black;
    display: none;
}
.board-cell-marker[data-value="x"] {
    background-color: $cell-color-x-highlight;
    display: block;
}
.board-cell-marker[data-value="o"] {
    background-color: $cell-color-o-highlight;
    display: block;
}

.board-cell[data-token="x"] {
    background-color: $cell-color-x;
}
.board-cell[data-token="_"] {
    background-color: white;
}
.board-cell[data-token="o"] {
    background-color: $cell-color-o;
}
/*
hover cell styles must be declared after non-hover ones
data-human-players-token will be set during gameplay
the purpose of this token is to avoid css injection via javascript
*/
.board-cell[data-token="_"][data-human-players-token="x"]:hover {
    background-color: $cell-color-x-highlight;
    cursor: s-resize;
}
.board-cell[data-token="_"][data-human-players-token="o"]:hover {
    background-color: $cell-color-o-highlight;
    cursor: s-resize;
}


