/*
sass --watch connect4.scss:connect4.css
 */

$section-background-color: blue;
$section-font-color: yellow;

$cell-color-o: green;
$cell-color-x: red;
 
$cell-color-o-highlight: palegreen;
// https://upload.wikimedia.org/wikipedia/commons/f/fd/Color_icon_red.svg
$cell-color-x-highlight: #fe8484;

$playground-background-color: violet;

$navbar-width: 60px;

.page-wrapper {
    padding: 20px;
}

/* 
Placement of main blocks 
*/

$footer-height: 10vh;

.header {
    height: 20vh;
    width: 100%;
}
.footer {
    height: $footer-height;
    margin-top: 20px;
    width: 100%;
}

.body {
    width: 100%;
    margin-top: 20px;
    /*
    100%
    - 2*WrapperPadding
    - HeaderHeight
    - FooterHeight
    - FooterMargin
    - BodyMargin
    */
    height: calc(100vh - 40px - 20vh - #{$footer-height} - 20px - 20px);
}

/*
Layout of Body: Navbar, Playground, Console
*/

.body {
    flex-flow: row;
    display: flex;
    display: -webkit-flex;
}
.body .navbar {
    width: $navbar-width;
    margin-right: 20px;
}
.body .console {
    width: 30em;
    margin-left: 20px;
}
.body .playground {
    flex: 1;
    -webkit-flex: 1;
}

.playground .board {
    height: 100%;
}
/*
Inner playground
*/
.board .board-table {
    /* Board will be resized via JavaScript */
    width: 100%; 
    height: 100%;
}

/*
Inner CCFI console
*/
.console .console-content {
    width: 100%;
    height: 100%;
}
.console .console-textarea {
    width: 100%;
    height: 100%;
}
.page-wrapper {
    background-color: yellow;
}

/*       
Styling Background
*/
body {
    background-color: linen;
}

/*
Styling navbar
*/
.navbar {
    background-color: $section-background-color;
}
.navbar span {
    color: yellow;
}

.navbar ul {
    /* Bullet entfernen und Abstand vom Rand auf. */
    /* Wichtig für die Unterdivs, da deren Referenzpunkt der Text des List-Items/Links ist*/
    /* Jetzt kann ich die x-position des Unterdialogs relativ zur Breite der Toolbar setzen */
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
    /* Bei Float-Positionierung der Toolbar geht der Margin mit rein (weil das Element keinen
          direkten Nachbarn mehr hat.) */
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbaritem {
    display: block;
    position: relative;
}

.navbaritem:hover .navbaritemsubdialog {
    display: block;
    position: absolute;
    left: $navbar-width;
    top: -5px;
}

.navbaritemsubdialog {
    display: none;
    z-index: 5000;
}

.navbar a {
    background-repeat: no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    background-size: contain;
    margin: 5px;
}
.navbar a span {
    display: none;
}
.navbar .link-new-game {
    stroke-width: 20;
    background-image: url('/buttons/newgame.svg');
}
.navbar .link-toggle-color {
    background-image: url('/buttons/togglecolor.svg');
}
.navbar .link-set-board-size {
    background-image: url('/static/setboardsize.svg');
}

/*
Styling playground 
*/
.body .playground {
    background-color: $playground-background-color;
}

/*
Styling: Header
*/
.header {
    background-color: $section-background-color;
    background-image: url(/static/made-with-lisp-ellipse.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    position: relative;
}
.header h1 {
    margin: 0;
    margin-left: 5px;
    color: yellow;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

/*
Styling: Footer
*/
.footer {
    background-color: $section-background-color;
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.footer .human-players-token-indicator {
    display: block;
    padding-left: 6px;
    padding-right: 6px;
    //width: calc( #{$footer-height} - 10px);
    height: calc( #{$footer-height} - 10px);
    margin-left: 5px;
}

/*
.footer .human-players-token-indicator p {
    text-align: center;
}
*/

.footer .human-players-token-indicator[data-human-players-token="x"] {
    background-color: $cell-color-x;
}
.footer .human-players-token-indicator[data-human-players-token="o"] {
    background-color: $cell-color-o;
}

.footer .final-state-click-to-continue {
    padding-left: 6px;
    padding-right: 6px;
    height: calc( #{$footer-height} - 10px);
    margin-left: 5px;
    background-color: white;
}
.footer .final-state-click-to-continue[data-value="OFF"] {
    display: none;
}
.footer .final-state-click-to-continue[data-value="HUMAN_HAS_WON"] {
    display: block;
}
.footer .final-state-click-to-continue[data-value="COMPUTER_HAS_WON"] {
    display: block;
}
.footer .final-state-click-to-continue[data-value="DRAW"] {
    display: block;
}

/*
Activity indicator
 */

.footer .activity-indicator {
    padding-left: 6px;
    padding-right: 6px;
    height: calc( #{$footer-height} - 10px);
    color: $section-font-color;
    background-color: green;
    margin-left: 5px;
}
.footer .activity-indicator[data-value="OFF"] {
    display: none;
}
.footer .activity-indicator[data-value="1"] {
    display: block;
    background-color: black;
    color: yellow;
}
.footer .activity-indicator[data-value="0"] {
    display: block;
    background-color: yellow;
    color: black;
}

/*
Quit-Button
*/
.footer .quit-button {
    padding-left: 6px;
    padding-right: 6px;
    height: calc( #{$footer-height} - 10px);
    color: $section-font-color;
    background-color: green;
    margin-left: 5px;
}
.footer .quit-button[data-value="OFF"] {
    display: none;
}
.footer .quit-button[data-value="ON"] {
    display: block;
    background-color: black;
    color: yellow;
}

/*
Styling: Console
*/
.console-textarea {
    background-color: black;
    color: lime;
}
.body .console {
    background-color: yellow;
}

/*
Styling: Board
*/
.board-table {
    // border: 1px solid black;
    border-collapse: collapse;
}
.board-table th,
.board-table td {
    border: 1px solid black;
    border-collapse: collapse;
}

.board-cell-marker[data-value="ON"] {
    background-color: black;
    display: block;
}
.board-cell-marker[data-value="OFF"] {
    background-color: black;
    display: none;
}
.board-cell-marker[data-value="x"] {
    background-color: $cell-color-x-highlight;
    display: block;
}
.board-cell-marker[data-value="o"] {
    background-color: $cell-color-o-highlight;
    display: block;
}

.board-cell[data-token="x"] {
    background-color: $cell-color-x;
}
.board-cell[data-token="_"] {
    background-color: white;
}
.board-cell[data-token="o"] {
    background-color: $cell-color-o;
}
/*
hover cell styles must be declared after non-hover ones
data-human-players-token will be set during gameplay
the purpose of this token is to avoid css injection via javascript
*/
.board-cell[data-token="_"][data-human-players-token="x"]:hover {
    background-color: $cell-color-x-highlight;
    cursor: s-resize;
}
.board-cell[data-token="_"][data-human-players-token="o"]:hover {
    background-color: $cell-color-o-highlight;
    cursor: s-resize;
}


/*
Styling of board size form 
*/

.set-board-size-form {
    border: solid;
    background: $section-background-color;
    color: $section-font-color;
    border-color: $playground-background-color;
    width: 10em;
}

.set-board-size-form .wrapper {
    margin: 10px 10px 10px 10px;
}

/*
.set-board-size-form .input-group {
    padding-bottom: 20px;
    clear: both;
    width: 100%;
}
*/

.set-board-size-form .title {
    width: 100%;
    color: $section-font-color;
}

.set-board-size-form label {
    display: block;
    width: 35%;
    //background: yellow;
    float: left;
}
.set-board-size-form .input {
    display: block;
    width: 65%;
    //background: green;
    float: left;
}
